<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>University-main</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome-all.min.css" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" href="../static/assets/css/styles.min.css" th:href="@{/assets/css/styles.min.css}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="./index.html" th:href="@{index.html}"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><img id="logo" class="col-md-12 rounded-circle" src="../static/assets/img/wszib-logo.png" th:src="@{/img/wszib-logo.png}"></span><span id="logo-title" class="col-md-12 col-sm-12">Wyższa Szkoła Zarządzania i Bankowości</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" th:href="@{sushi-web}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Account Settings</a></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" href="#">Logout</a>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row" style="box-shadow: 17px 16px 6px rgb(187,191,195);">
                <div class="col-md-6" style="color: var(--bs-body-bg);background: #2759a3;width: 40%;"><img class="col-md-6 col-sm-6 rounded-circle d-block mx-auto" src="../static/assets/img/David.jpg" th:src="@{${'img/prof/' + profileImageName.toString()}}" style="margin-top: 20pt;margin-bottom: 10pt;border-width: 3px;border-style: solid;">
                    <h1 id="student-name" class="text-center" style="border-top-style: none;font-family: Agency FB, serif;letter-spacing: 2pt;" th:text="${user_details.name + ' ' + user_details.surname}">Dawid Miskowiec</h1>
                    <div class="table-responsive" style="border-style: none;border-top-style: none;">
                        <table class="table table-hover" id="student-info-table">
                            <thead style="border-top-style: none;">
                                <tr></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="border-style: none;border-top-style: none;">Album:</td>
                                    <td style="border-style: none;" th:text="${user_section_info[0]}">Text</td>
                                </tr>
                                <tr>
                                    <td style="border-style: none;">Kierunek:</td>
                                    <td style="border-style: none;" th:text="${user_section_info[1]}">Text<br></td>
                                </tr>
                                <tr>
                                    <td style="border-style: none;">Wydział</td>
                                    <td style="border-style: none;" th:text="${user_section_info[2]}">Text</td>
                                </tr>
                                <tr>
                                    <td style="border-style: none;">Rok:</td>
                                    <td style="border-style: none;" th:text="${user_section_info[3]}">Text</td>
                                </tr>
                                <tr>
                                    <td style="border-style: none;">Semestr:</td>
                                    <td style="border-style: none;" th:text="${user_section_info[4]}">Text</td>
                                </tr>
                                <tr>
                                    <td style="border-style: none;">Grupa:</td>
                                    <td style="border-style: none;">Text</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" style="border-style: none;border-top-style: ridge;">
                        <table class="table table-hover" id="link-table">
                            <thead style="border-style: none;">
                                <tr style="border-style: none;"></tr>
                            </thead>
                            <tbody style="border-style: none;">
                                <tr style="border-style: none;">
                                    <td class="col-md-2" style="border-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-card-list" id="link-icons">
                                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"></path>
                                            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"></path>
                                        </svg></td>
                                    <td style="border-style: none;">Oceny</td>
                                </tr>
                                <tr style="border-style: none;">
                                    <td style="border-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-clock-fill" id="link-icons">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"></path>
                                        </svg></td>
                                    <td style="border-style: none;"><a href="marks.html" th:href="@{marks.html}">Rozkład zajęć</a></td>
                                </tr>
                                <tr>
                                    <td><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-clock" id="link-icons">
                                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"></path>
                                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"></path>
                                        </svg></td>
                                    <td>Graficzny rozkład zajęć<br><br></td>
                                </tr>
                                <tr style="border-style: none;border-top-style: none;">
                                    <td style="border-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-file-earmark-person-fill" id="link-icons" style="border-style: none;">
                                            <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755z"></path>
                                        </svg></td>
                                    <td style="border-style: none;border-top-style: none;">Wykaz lektorów języka angielskiego<br></td>
                                </tr>
                                <tr style="border-bottom-style: none;">
                                    <td style="border-bottom-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-table" id="link-icons">
                                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"></path>
                                        </svg></td>
                                    <td style="border-bottom-style: none;">Zajęcia z poprzednich semestrów<br></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" style="border-style: none;border-top-style: ridge;border-bottom-style: none;">
                        <table class="table table-hover" id="link-table">
                            <thead style="border-style: none;">
                                <tr style="border-style: none;"></tr>
                            </thead>
                            <tbody style="border-style: none;">
                                <tr style="border-style: none;">
                                    <td class="col-md-2" style="border-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-paypal" id="link-icons">
                                            <path fill-rule="evenodd" d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.351.351 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91.379-.27.712-.603.993-1.005a4.942 4.942 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.687 2.687 0 0 0-.76-.59l-.094-.061zM6.543 8.82l-.845 5.213v.001l-.208 1.32c-.01.066.04.123.105.123H8.14c.173 0 .32-.125.348-.296v-.005l.026-.129.48-3.043.03-.164a.873.873 0 0 1 .862-.734h.38c1.201 0 2.24-.244 3.043-.815.797-.567 1.39-1.477 1.663-2.874.229-1.175.096-2.087-.45-2.71a2.126 2.126 0 0 0-.548-.438l-.003.016c-.645 3.312-2.853 4.456-5.672 4.456H6.864a.695.695 0 0 0-.321.079z"></path>
                                        </svg></td>
                                    <td style="border-style: none;">Płatności</td>
                                </tr>
                                <tr style="border-style: none;">
                                    <td style="border-style: none;"><i class="fas fa-money-check-alt" id="link-icons"></i></td>
                                    <td style="border-style: none;">Stypendia</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" style="border-style: none;border-top-style: ridge;">
                        <table class="table table-hover" id="link-table">
                            <thead style="border-style: none;">
                                <tr style="border-style: none;"></tr>
                            </thead>
                            <tbody style="border-style: none;">
                                <tr style="border-style: none;">
                                    <td class="col-md-2" style="border-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-info-circle" id="link-icons">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
                                        </svg></td>
                                    <td style="border-style: none;">Tablica ogłoszeń</td>
                                </tr>
                                <tr style="border-style: none;">
                                    <td style="border-style: none;"><i class="fas fa-comments" id="link-icons"></i></td>
                                    <td style="border-style: none;">Archiwum wiadomości</td>
                                </tr>
                                <tr>
                                    <td style="border-bottom-style: none;"><i class="fas fa-comment-dots" id="link-icons"></i></td>
                                    <td style="border-bottom-style: none;">Wykaz wysłanych wiadomości</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive" style="border-style: none;border-top-style: ridge;">
                        <table class="table table-hover" id="link-table">
                            <thead style="border-style: none;">
                                <tr style="border-style: none;"></tr>
                            </thead>
                            <tbody style="border-style: none;">
                                <tr style="border-style: none;">
                                    <td class="col-md-2" style="border-style: none;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-card-list" id="link-icons">
                                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"></path>
                                            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"></path>
                                        </svg></td>
                                    <td style="border-style: none;"><a href="library.html" th:href="@{sushi-web/library}">Biblioteka</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6" style="background: #ffffff;border-right-style: none;">
                    <h1 class="text-center col-md-12"><br>Uczelniany System Przesyłu Informacji<br><br><br></h1>
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="col-md-12 text-end" style="border-top-style: solid;border-right-style: solid;padding: 22px;">Wiadomości</h1>
                        </div>
                        <div class="col-md-12">
                            <h1 class="text-end" style="font-size: 21px;border-right-style: solid;line-height: 24.2px;letter-spacing: 4px;font-style: italic;padding-right: 10pt;">Aktualne wiadomości (0/0/0)</h1>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive" th:each="message : ${messages}">
                                <table class="table" style="background-color: #ffffff;">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border-top-width: 3px;border-top-style: solid;border-radius: 0px;">
                                            <td style="border-left-width: 5px;border-left-color: var(--bs-table-striped-color);">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead style="border-left-style: solid;">
                                                            <tr>
                                                                <th>
                                                                    <div class="col-md-12"><span>Od:</span><span style="margin-left: 15px;">FROM INFO</span></div>
                                                                    <div class="col-md-12"><span>Do:</span><span style="margin-left: 15px;">ADDRESSED INFO</span></div>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="fw-bolder" th:text="${message.title}" style="background-color: #2759a3; color: white">TITLE</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 14px; background-color: #4b85d9; color: white" th:text="${message.body}">MESSAGE TEXT&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td style="font-size: 12px; background-color: #6a9fec; color: white">DATE</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>