<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>University-main</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome-all.min.css" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" href="../static/assets/css/styles.min.css" th:href="@{/assets/css/styles.min.css}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><img id="logo" class="col-md-12 rounded-circle" src="../static/assets/img/wszib-logo.png" th:src="@{/img/wszib-logo.png}"></span><span id="logo-title" class="col-md-12 col-sm-12">Wyższa Szkoła Zarządzania i Bankowości</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" th:href="@{sushi-web}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Account Settings</a></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" href="#">Logout</a>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row" style="box-shadow: 17px 16px 6px rgb(187,191,195);">
                <div class="col-md-12" style="color: var(--bs-body-bg);background: #2759a3;">
                    <h1 class="text-center col-md-12" style="height: 124px;margin: 0px;margin-top: -28px;"><br>Wykaz lektorów języka angielskiego<br><br></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="background: #ffffff;"><span>Szukaj lektora:</span><input type="search" style="margin: 20px;"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr style="background: #2759a3;">
                                <th class="col-md-4 text-center" style="color: rgb(255,255,255);">Lektor</th>
                                <th class="col-md-2 text-center" style="color: rgb(255,255,255);">Sala</th>
                                <th class="col-md-2 text-center" style="color: rgb(255,255,255);">Dzień</th>
                                <th class="col-md-2 text-center" style="color: rgb(255,255,255);">Godzina</th>
                                <th class="col-md-2 text-center" style="color: rgb(255,255,255);">Poziom</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="border-top-width: 2px;border-top-style: outset;">
                                <td style="height: 70px;padding-top: 10px;padding-bottom: 15px;text-align: center;">mgr. Jan Kowalski</td>
                                <td style="height: 70px;padding-top: 10px;padding-bottom: 15px;text-align: center;">5K<br></td>
                                <td style="text-align: center;height: 70px;padding-top: 10px;padding-bottom: 15px;">piątek</td>
                                <td style="height: 70px;padding-top: 10px;padding-bottom: 15px;text-align: center;">08:00-09:30<br></td>
                                <td style="text-align: center;">B1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>