<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>University-main</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome-all.min.css" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" href="../static/assets/css/styles.min.css" th:href="@{/assets/css/styles.min.css}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="./index.html" th:href="@{index.html}"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><img id="logo" class="col-md-12 rounded-circle" src="../static/assets/img/wszib-logo.png" th:src="@{/img/wszib-logo.png}"></span><span id="logo-title" class="col-md-12 col-sm-12">Wyższa Szkoła Zarządzania i Bankowości</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" th:href="@{/sushi-web}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Account Settings</a></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" href="#">Logout</a>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="color: var(--bs-body-bg);background: #2759a3;">
                    <h1 class="text-center col-md-12" style="height: 124px;margin: 0px;margin-top: -28px;"><br>Biblioteka<br><br></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="background: #ffffff;border-right-width: 2px;border-right-style: solid;">
                <h1 style="font-size: 25px;text-align: center;padding: 24px;">Zewnętrzne bazy danych dostępne dla WSZIB</h1>
                <p style="padding: 0px;margin: 0px;margin-top: -14px;margin-bottom: 10px;"><strong>Uwaga! Dostępne tylko z komputerów Uczelni.</strong><br></p>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);text-align: center;">EMIS</p>
                    </a><span style="text-align: center;"><br>Makroekonomia, czasopisma, rynki finansowe, analizy ekonomiczne (z komputerów uczelnianych i zdalny dostęp poprzez połączenie VPN)<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);text-align: center;">IBUK Libra</p>
                    </a><span style="text-align: center;"><br>Zdalny dostęp po przez połączenie VPN.<br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);">EMIS</p>
                    </a><span style="text-align: center;"><br>Makroekonomia, czasopisma, rynki finansowe, analizy ekonomiczne (z komputerów uczelnianych i zdalny dostęp poprzez połączenie VPN)<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);">EMIS</p>
                    </a><span style="text-align: center;"><br>Makroekonomia, czasopisma, rynki finansowe, analizy ekonomiczne (z komputerów uczelnianych i zdalny dostęp poprzez połączenie VPN)<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);text-align: center;">EMIS</p>
                    </a><span style="text-align: center;"><br>Makroekonomia, czasopisma, rynki finansowe, analizy ekonomiczne (z komputerów uczelnianych i zdalny dostęp poprzez połączenie VPN)<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);text-align: center;">EMIS</p>
                    </a><span style="text-align: center;"><br>Makroekonomia, czasopisma, rynki finansowe, analizy ekonomiczne (z komputerów uczelnianych i zdalny dostęp poprzez połączenie VPN)<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);text-align: center;">EMIS</p>
                    </a><span style="text-align: center;"><br>Makroekonomia, czasopisma, rynki finansowe, analizy ekonomiczne (z komputerów uczelnianych i zdalny dostęp poprzez połączenie VPN)<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);text-align: center;">EMIS</p>
                    </a><span style="text-align: center;"><br>Makroekonomia, czasopisma, rynki finansowe, analizy ekonomiczne (z komputerów uczelnianych i zdalny dostęp poprzez połączenie VPN)<br><br><br></span></div>
            </div>
            <div class="col-md-6" style="background: #ffffff;">
                <h1 class="text-center" style="padding: 23px;font-size: 30px;">Godziny otwarcia:</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 393.062px;">poniedziałek, środa, piątek<br></td>
                                <td>9:00 – 15:00<br></td>
                            </tr>
                            <tr>
                                <td style="width: 393.062px;">wtorek, czwartek<br></td>
                                <td>9:00 – 18:00<br></td>
                            </tr>
                            <tr>
                                <td style="width: 393.062px;">sobota<br></td>
                                <td>8:00 – 16:00<br></td>
                            </tr>
                            <tr>
                                <td style="width: 393.062px;">niedziela<br></td>
                                <td>9:00 – 15:00<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h1 style="font-size: 22px;">Dodatkowe informacje:</h1>
                <ul style="margin-top: 20px;">
                    <li style="padding-bottom: 7px;">wypożyczenie maks. 5-ciu pozycji po wcześniejszej rezerwacji na okres 14-tu dni<br></li>
                    <li style="padding-bottom: 7px;">wypożyczenie pozycji czytelnianych (na miejscu) po podaniu autora i tytułu publikacji<br></li>
                    <li style="padding-bottom: 7px;">możliwość samodzielnego prolongowania na swoim koncie w SUSZI w ciągu 3 ostatnich dni wypożyczenia na kolejne 14<br></li>
                    <li style="padding-bottom: 7px;">kary za przetrzymanie → 50 gr za każdy dzień<br></li>
                    <li style="padding-bottom: 7px;">w przypadku posiadania na koncie przetrzymanej pozycji (po terminie zwrotu) następuje blokada wypożyczenia<br></li>
                    <li style="padding-bottom: 7px;">jeśli nie możesz odebrać zarezerwowanej pozycji w wyznaczonym terminie → zadzwoń 12.6356880 → poproś o telefoniczne wypożyczenie<br></li>
                    <li style="padding-bottom: 7px;">możliwość odbioru zarezerwowanej pozycji przez inną osobę posiadającą elektroniczną legitymację studencką do reprezentowanego konta (!!!)<br></li>
                    <li style="padding-bottom: 7px;">możliwość samodzielnego skopiowania pozycji dostępnych wyłącznie w czytelni kserografem bibliotecznym po zakupie karty (25 stron A4 za 5,-zł)<br></li>
                    <li style="padding-bottom: 7px;">zwrotu pozycji może dokonać jakakolwiek osoba, ważne aby w terminie<br></li>
                    <li style="padding-bottom: 7px;">Biblioteka realizuje potrzeby czytelnicze, wiec jeśli nie ma potrzebnego tytułu napisz do nas w tej sprawie<br></li>
                    <li style="padding-bottom: 7px;">książki można zwracać pocztą (paczka priorytetowa lub list polecony priorytetowy) na adres: Biblioteka WSZiB, Al. Kijowska 14, 30-079 Kraków<br></li>
                    <li style="padding-bottom: 7px;">w Bibliotece do dyspozycji czytelników znajdują się stanowiska katalogowe SUSZI, stanowisko ACADEMICA, komputer do drukowania oraz notebooki wyposażone w pakiet MS Office z dostępem do sieci internetowej<br></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>