<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>University-main</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome-all.min.css" th:href="@{/assets/fonts/fontawesome-all.min.css}">
    <link rel="stylesheet" href="../static/assets/css/styles.min.css" th:href="@{/assets/css/styles.min.css}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="./index.html" th:href="@{index.html}"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><img id="logo" class="col-md-12 rounded-circle" src="../static/assets/img/logo.jpg" th:src="@{/img/logo.jpg}"></span><span id="logo-title" class="col-md-12 col-sm-12">Wyższa Szkoła Zarządzania i Bankowości</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#" th:href="@{/sushi-web}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Account Settings</a></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" href="#" th:href="@{/sushi-web/logout}">Logout</a>
            </div>
        </div>
    </nav>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="color: var(--bs-body-bg);background: #2759a3;">
                    <h1 class="text-center col-md-12" style="height: 124px;margin: 0px;margin-top: -28px;"><br>Biblioteka<br><br></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="background: #ffffff;border-right-width: 2px;border-right-style: solid;">
                <h1 style="font-size: 25px;text-align: center;padding: 24px;">Zewnętrzne bazy danych dostępne dla Wyższej Szkoły Zarządzania i Bankowości</h1>
                <p style="padding: 0px;margin: 0px;margin-top: -14px;margin-bottom: 10px;"><strong>Uwaga! Dostępne tylko z komputerów znajdujących się w Uczelni. Można także skorzystać z VPN. Więcej informacji na tablicy ogłoszeń.</strong><br></p>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);text-align: center;">NAZWA SIECI</p>
                    </a><span style="text-align: center;"><br>Lorem ipsum dolor sit amet. Ut velit vitae hic molestias quae qui repellat ducimus. Aut voluptas molestiae est exercitationem fugit eum harum commodi et voluptatum eius et consequatur facere et consequatur enim.<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);text-align: center;">NAZWA SIECI</p>
                </a><span style="text-align: center;"><br>Lorem ipsum dolor sit amet. Ut velit vitae hic molestias quae qui repellat ducimus. Aut voluptas molestiae est exercitationem fugit eum harum commodi et voluptatum eius et consequatur facere et consequatur enim.<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);">NAZWA SIECI</p>
                </a><span style="text-align: center;"><br>Lorem ipsum dolor sit amet. Ut velit vitae hic molestias quae qui repellat ducimus. Aut voluptas molestiae est exercitationem fugit eum harum commodi et voluptatum eius et consequatur facere et consequatur enim.<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);">NAZWA SIECI</p>
                </a><span style="text-align: center;"><br>Lorem ipsum dolor sit amet. Ut velit vitae hic molestias quae qui repellat ducimus. Aut voluptas molestiae est exercitationem fugit eum harum commodi et voluptatum eius et consequatur facere et consequatur enim.<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);text-align: center;">NAZWA SIECI</p>
                </a><span style="text-align: center;"><br>Lorem ipsum dolor sit amet. Ut velit vitae hic molestias quae qui repellat ducimus. Aut voluptas molestiae est exercitationem fugit eum harum commodi et voluptatum eius et consequatur facere et consequatur enim.<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);text-align: center;">NAZWA SIECI</p>
                </a><span style="text-align: center;"><br>Lorem ipsum dolor sit amet. Ut velit vitae hic molestias quae qui repellat ducimus. Aut voluptas molestiae est exercitationem fugit eum harum commodi et voluptatum eius et consequatur facere et consequatur enim.<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);text-align: center;">NAZWA SIECI</p>
                </a><span style="text-align: center;"><br>Lorem ipsum dolor sit amet. Ut velit vitae hic molestias quae qui repellat ducimus. Aut voluptas molestiae est exercitationem fugit eum harum commodi et voluptatum eius et consequatur facere et consequatur enim.<br><br><br></span></div>
                <div style="text-align: center;"><a href="#">
                        <p style="margin-bottom: -19px;background: #2759a3;color: rgb(255,255,255);text-align: center;">NAZWA SIECI</p>
                </a><span style="text-align: center;"><br>Lorem ipsum dolor sit amet. Ut velit vitae hic molestias quae qui repellat ducimus. Aut voluptas molestiae est exercitationem fugit eum harum commodi et voluptatum eius et consequatur facere et consequatur enim.<br><br><br></span></div>
            </div>
            <div class="col-md-6" style="background: #ffffff;">
                <h1 class="text-center" style="padding: 23px;font-size: 30px;">Godziny otwarcia:</h1>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 393.062px;">Poniedziałek, Środa, Piątek<br></td>
                                <td>9:00 – 13:00<br></td>
                            </tr>
                            <tr>
                                <td style="width: 393.062px;">Wtorek, Czwartek<br></td>
                                <td>9:00 – 17:00<br></td>
                            </tr>
                            <tr>
                                <td style="width: 393.062px;">Sobota<br></td>
                                <td>8:00 – 17:00<br></td>
                            </tr>
                            <tr>
                                <td style="width: 393.062px;">Niedziela<br></td>
                                <td>9:00 – 15:00<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h1 style="font-size: 22px;">Dodatkowe informacje:</h1>
                <ul style="margin-top: 20px;">
                    <li style="padding-bottom: 7px;">Można wypożyczyć maksymalnie 4 pozycje. Należy zarezerwować 10 dni wcześniej.<br></li>
                    <li style="padding-bottom: 7px;">Wypożyczanie następuje w uczelnianej bibliotece.<br></li>
                    <li style="padding-bottom: 7px;">Kara za przetrzymanie wynosi 1 zł za każdy dzień<br></li>
                    <li style="padding-bottom: 7px;">W przypadku przetrzymania książki następuje blokada wypożyczania kolejnych pozycji.<br></li>
                    <li style="padding-bottom: 7px;">Jeśli nastąpi problem z wypożyczeniem zarezerwowanej pozycji skonataktuj się z nami przez sushi.<br></li>
                    <li style="padding-bottom: 7px;">Zarezerwowaną pozycję należy odebrać osobiście.<br></li>
                    <li style="padding-bottom: 7px;">Istnieje możliwość skorzystania z drukarki - opłata 20 gr za stronę.<br></li>
                    <li style="padding-bottom: 7px;">Zwrot pozycji może dokonać dowolna osoba.<br></li>
                    <li style="padding-bottom: 7px;">Jeśli nie ma tytułu który cię interesuje, zgłoś zapotrzebowanie przez sushi.<br></li>
                    <li style="padding-bottom: 7px;">Książkę można zwrócić pocztą pod adres uczelnii.<br></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>